/*setting body style*/
html {
  font-family: 'Trebuchet MS';
  word-wrap: break-word;
}

body {
    background-color: rgb(0, 0, 14);
    text-align: center;
  }

  .safemode h3 {
    text-align: left;
    color: rgb(109, 136, 180) ;
  }

/*main title text coloration*/
  h1 {
    color: rgb(218, 228, 236);
    text-align: center;
    text-shadow: 0px 0px 5px rgb(162, 183, 216),0px 0px 10px rgb(38, 84, 158);
  }
  h2 {
    color: rgb(218, 228, 236);
    text-align: center;
    text-shadow: 0px 0px 2px rgb(162, 183, 216),0px 0px 5px rgb(38, 84, 158);
  }
  h3 {
    color: rgb(174, 197, 216);
    text-align: center;
    font-size: 15px;
  }

 /* The switch - the box around the slider */
.switch {
  text-align: left ;
  position: relative;
  left: -48.2%;
  display: inline-block;
  width: 60px;
  height: 34px;
}



/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(8, 109, 58);
  -webkit-transition: .4s;
  transition: .4s;

}

.slider:before {
  position: absolute;
  content: "ON";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(0, 0, 14);
  -webkit-transition: .4s;
  transition: .4s;
  text-align: center;
    line-height: 26px;
    font-family: 'Trebuchet MS';
    font-size: 12px;
    color: rgb(8, 109, 58);
}

input:checked + .slider {
  background-color: #4b0000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4b0000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  content: "OFF";
  color: #350000;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* text under the slider*/
p {
  font-size: 12px;
  position: relative;
  color: rgb(0, 66, 121);
  text-align: left;
}

/* setting up the main buttons */
.button {
  background-color: transparent;
  border: 2px solid rgb(218, 228, 236);
  border-radius: 15px;
  box-sizing: border-box;
  color: rgb(218, 228, 236);
  cursor: pointer;
  display: inline-block;
  max-width: 1000px;
  font-family: 'Trebuchet MS';
  line-height: normal;
  text-shadow: 0px 0px 2px rgb(162, 183, 216),0px 0px 5px rgb(38, 84, 158);
  font-size: 20px;
  font-weight: bolder;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;

    /* Styles for alignment */
    margin: 5px; /* Add margin for spacing between buttons */
    position: relative;
}

/* button colors / function */
.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: #fff;
  background-color: rgba(218, 228, 236, 0.151);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

/* darker margin at top of page */
.dark-header{
  background-color: rgb(0, 0, 2);
  height: 150px; 
  width: 100%; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  }


/* making a spot for the previously viewed jokes */
/* note: its about 1500px down for future reference */
.previous {
  position: relative;
 }
 
 
/* scroll box */
.previousBox p {
  color:  rgb(218, 228, 236);
  font-family: 'Trebuchet MS';
  font-size: 16px;
}

.previousBox {
  background-color: rgb(0, 0, 2);
  margin: auto;
  position: relative;
  border: 2px solid rgb(218, 228, 236);
  border-radius: 10px;
  padding: 5px;
  font-size: 14px;
  font-family:  'trebuchet MS';
  width: 80%;
  height: 120px;
  overflow: scroll;
  color: rgb(218, 228, 236);
  }
  
  /* Scrollbar styles */
  ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  position: relative;
  text-align: center;
  }
  
  ::-webkit-scrollbar-track {
  border: 2px solid rgb(218, 228, 236);
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 14);  
  border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 14);  
  }


  /* Recieved jokes */
  .joke-window p {
  color:  rgb(218, 228, 236);
  font-family: 'Trebuchet MS';
  font-size: 16px;
}

.joke-window {
  background-color: rgb(0, 0, 2);
  margin: auto;
  position: relative;
  border: 2px solid rgb(218, 228, 236);
  border-radius: 10px;
  padding: 5px;
  font-size: 14px;
  font-family:  'trebuchet MS';
  width: 80%;
  height: 170px;
  overflow: scroll;
  color: rgb(218, 228, 236);
  }
  
